<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for("/images/logo.png") %>">
    </div><div class="right">
      <h2 class="vue">Pea.js</h2>
      <h1>
        Easy-to-use<br>Nodejs Framework
      </h1>
      <p>
        <!-- <a id="modal-player" class="button has-icon" href="javascript:;">
          <%- partial('icons/play') %>
          为什么选择 Vue.js？</a> -->
        <a class="button white" href="<%- url_for("/v2/guide/") %>">Get Started</a>
        <a class="button gray has-icon" href="https://github.com/TimLiu1/peajs.git" target="_blank">
          <%- partial('icons/github-dark') %>
          Github</a>
      </p>
    </div>
  </div>
</div>

<!-- <div id="special-sponsor">
  <h3>特别赞助</h3>
  <br>
  <a href="https://stdlib.com/" target="_blank">
    <img src="/images/stdlib.png" style="width:140px">
    <span>Function as a Service Platform and Library</span>
  </a>
  <br>
  <a href="https://www.bitsrc.io/?utm_source=vue&utm_medium=vue&utm_campaign=vue&utm_term=vue&utm_content=vue" target="_blank">
    <img src="/images/bit.png" style="width:60px;height:60px">
    <span>The fastest way to share code</span>
  </a>
</div> -->

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>Simple and Pure</h2>
      <p>Quick setup for scaffold to help auto-generate project </p>
    </div>

    <div class="point">
      <h2>Flexible</h2>
      <p>All feature as plugin. Toggle at anytime.</p>
    </div>

    <div class="point">
      <h2>Auto complete basic works</h2>
      <p>
        Integrate log and api document system management.<br>
        Eslint configuration<br>
      </p>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <%- partial('partials/sponsors') %>
  </div>
</div>

<div id="footer">
  <p>
    <a class="social-icon" href="https://github.com/vuejs/vue" target="_blank">
      <%- partial('icons/github') %>
    </a>
    <a class="social-icon" href="https://twitter.com/vuejs" target="_blank">
      <%- partial('icons/twitter') %>
    </a>
    <a class="social-icon" href="https://medium.com/the-vue-point" target="_blank">
      <%- partial('icons/medium') %>
    </a>
  </p>
  <p>Released under <a href="https://opensource.org/licenses/MIT" target="_blank">the MIT License</a><br>
  Copyright &copy; 2018-<%- new Date().getFullYear() %> Tim </p>
</div>

<div id="video-modal" class="modal">
  <div class="video-space" style="padding: 56.25% 0 0 0; position: relative;"></div>
</div>

<script>
(function () {
  var topScrolled = false
  var sponsors = document.getElementById('sponsors')
  var sponsorTop = sponsors.offsetTop
  var sponsorActive = false

  window.addEventListener('resize', function () {
    sponsorTop = sponsors.offsetTop
  })

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
    if (window.pageYOffset > sponsorTop - 100) {
      if (!sponsorActive) {
        sponsorActive = true
        sponsors.classList.add('active')
      }
    } else {
      if (sponsorActive) {
        sponsorActive = false
        sponsors.classList.remove('active')
      }
    }
  })
})()
</script>
